.benefits {
  text-align: center;
  margin-top: 40px;
}

.benefits__background {
  padding-top: 15px;
  background-image: url("../img/decoration/grey-background.svg");
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-position: 50% -50px;
}

.benefits__list {
  list-style: none;
  padding: 0;
  margin: 0;

  padding-bottom: 305px;

  background-image: url("../img/decoration/iphone-screen-smile.png");
  background-repeat: no-repeat;
  background-position: 50% 107%;
  text-align: center;
}

.benefits__tagline {
  font-size: $tagline_font-size;
  line-height: $tagline_line-height-index;
  font-weight: $light;
}

.benefits__subtitle {
  font-size: 18px;
  font-weight: $bold;
  color: $basic_black;
  list-style: none;
  padding-top: 43px;
}

.benefits__image-container {
  order: -1;
  max-height: 260px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .benefits__list {
    padding-left: 50%;
    background-image: url("../img/decoration/iphone 3.png");
    background-position: 0 33px;
    padding-bottom: 20px;

    text-align: left;
  }

  .benefits__background {
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .benefits__subtitle {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;

    padding-top: 59px;
  }

  .benefits__list {
    padding-left: 24px;
    padding-right: 24px;

    text-align: center;

    display: flex;
    justify-content: space-around;

    background: none;
  }

  .benefits__description {
    font-size: 18px;
    line-height: 30px;
  }

  .benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: $desktop-width - 1) {
  .benefits__image-container {
    display: none;
  }
}
