.button {
  display: block;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  vertical-align: middle;

  border: 3px solid $basic_white;
  border-radius: 35px;
  padding: 16px 0;

  color: $basic_white;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: $bold;
  text-decoration: none;
  cursor: pointer;
}

.button--download:hover,
.button--download:active {
  color: $accent_red;
  background-color: $basic_white;
}

.button--download:active {
  color: $opacity_red;
}

.button--upload {
  border-color: $accent_red;
  color: $accent_red;

  margin-bottom: 12px;
}

.button--upload:hover {
  background-color: $accent_red;
  color: $basic_white;
}

.button--upload:active {
  background-color: $accent_red;
  color: $opacity_white;
}

.button--cancel {
  border-color: $dark_opacity-grey;
  color: $dark_opacity-grey;

  margin-bottom: 12px;
}

.button--cancel:hover {
  border-color: $dark_grey;
  color: $dark_grey;
  opacity: 0.3;
}

.button--cancel:active {
  border-color: $dark_grey;
  background-color: $dark_grey;
  color: $opacity_white;
  opacity: 0.3;
}

.button--form {
  border: 2px solid $basic_green;
  border-radius: 1px;
  padding: 15px 45px;

  background-color: $basic_green;

  line-height: 30px;
  text-transform: uppercase;
  max-width: 296px;
}

.button--form:hover,
.button--form:active {
  background-color: $action_green;
}

.button--form:active {
  color: $opacity_white;
}

@media (min-width: $tablet-width) {
  .button--form {
    font-size: 18px;
    margin: 0 0;
  }

  .modal .button--form {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .button {
    font-size: 21px;
  }

  .button--form {
    font-size: 18px;
  }

  .modal .button--form {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    max-width: none;
  }

  .button--upload,
  .button--cancel {
    width: 183px;
  }

  .button--upload {
    margin-right: 44px;
  }
}
