.card__caption {
  background-color: $light_grey;
}

.card__author {
  font-weight: 700;
}

.card__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.card__comment {
  margin: 0;
}
