.contacts {
  text-align: center;
}

.contacts__subtitle {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: $light;
}

.contacts__list {
  padding: 0;
  list-style: none;
}

.contacts__text {
  font-size: 18px;
  line-height: 24.51px;
  font-weight: $bold;
}

.contacts__value {
  font-size: 24px;
  line-height: 32.68px;
  font-weight: $light;
  color: $accent_red;

  text-decoration: none;

  margin-top: 0;
  margin-bottom: 0;
}

.contacts__value--email:hover {
  text-decoration: underline;
  color: $dark_grey;
}

.contacts__value--email:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .contacts__list {
    display: flex;
    justify-content: space-around;
  }
}
