.contacts {
  text-align: center;
}

.contacts__subtitle {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: $light;
}

.contacts__list {
  padding: 0;
  list-style: none;
}

.contacts__text {
  font-size: 18px;
  line-height: 24.51px;
  font-weight: $bold;
}

.contacts__value {
  font-size: 24px;
  line-height: 32.68px;
  font-weight: $light;
  color: $accent_red;

  text-decoration: none;
}
