.form__fieldset {
  border: none;
  padding: 0;
}

.form__personal-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.form__personal-item {
  display: grid;
}

.form__question {
  color: $accent_red;
  line-height: 30px;
  padding-left: 21px;
  padding-bottom: 6px;
  text-transform: uppercase;
}

.form__answer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $border_grey;
  border-radius: 1px;
}

.form__background {
  background-color: $light_grey;
  padding-top: 42px;
}

.form__legend {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding-left: 31px;
  padding-right: 31px;
}

.form__achievements-list,
.form__applications-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 21px;
}

.form__achievements-item .form__answer,
.form__applications-item .form__answer {
  border: none;
  padding-left: 22px;
  padding-right: 21px;
}

.form__achievements-item,
.form__applications-item {
  margin-top: 23px;
  margin-bottom: 23px;
}

.form__fieldset--contacts {
  padding-top: 28px;
}

.form__fieldset--comment .form__legend {
  padding-top: 42px;
  padding-bottom: 22px;
}

.form__clarification {
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
}
