.intro {
  padding-top: 15px;
}

.intro__box {
  background-image: url("../img/decoration/phone-mobile.png");

  @supports (background-image: url("../img/decoration/phone-mobile.webp")) {
    background-image: url("../img/decoration/phone-mobile.webp");
  }

  background-repeat: no-repeat;
  background-position: 50% 18%;
}

@media (min-resolution: 2dppx) {
  .intro__box {
    background-image: url("../img/decoration/phone-mobile@2x.png");

    @supports (background-image: url("../img/decoration/phone-mobile@2x.webp")) {
      background-image: url("../img/decoration/phone-mobile@2x.webp");
    }

    background-size: 320px 286px;
  }
}

.intro__box--inner {
  background: none;
  padding-bottom: 50px;
}

.intro__download {
  background-color: $accent_grey;
  padding-top: 28px;
  padding-bottom: 38px;
}

.intro--inner {
  background-image: none;
  padding-top: 30px;
}

.intro__slogan {
  margin: 0;
  margin-bottom: 300px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.intro__slogan--inner {
  padding-bottom: 30px;
  margin-bottom: 0;
}

.intro__platforms {
  text-align: center;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 28px;
  min-width: 280px;
}

.intro__platform-item {
  padding: 0 15px;
  display: inline-block;
}

.intro__platforms-description {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: $light;
  color: $basic_white;

  text-align: center;
  width: 280px;

  margin-left: auto;
  margin-right: auto;
}

.intro__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: $tablet-width) {
  .intro {
    padding-top: 95px;
  }

  .intro--inner {
    padding-top: 0;
  }

  .intro__box {
    background-image: url("../img/decoration/phone-tablet.png");

    @supports (background-image: url("../img/decoration/phone-tablet.webp")) {
      background-image: url("../img/decoration/phone-tablet.webp");
    }

    background-position: 31% 100%;
    padding-right: 50%;
  }

  @media (min-resolution: 2dppx) {
    .intro__box {
      background-image: url("../img/decoration/phone-tablet@2x.png");

      @supports (background-image: url("../img/decoration/phone-tablet@2x.webp")) {
        background-image: url("../img/decoration/phone-tablet@2x.webp");
      }

      background-size: 660px 545px;
    }
  }

  .intro__download {
    background: none;
  }

  .intro__slogan {
    margin-bottom: 40px;
    padding-top: 102px;
  }

  .intro__slogan--inner {
    padding-bottom: 100px;
    width: 510px;
  }

  .intro__wrapper {
    width: 620px;
  }

  .intro__platforms-description {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .intro__box {
    background-image: url("../img/decoration/phone-desktop.png");

    @supports (background-image: url("../img/decoration/phone-desktop.webp")) {
      background-image: url("../img/decoration/phone-desktop.webp");
    }

    background-position: -55% 96%;
  }

  @media (min-resolution: 2dppx) {
    .intro__box {
      background-image: url("../img/decoration/phone-desktop@2x.png");

      @supports (background-image: url("../img/decoration/phone-desktop@2x.webp")) {
        background-image: url("../img/decoration/phone-desktop@2x.webp");
      }

      background-size: 1050px 645px;
    }
  }

  .intro__slogan {
    padding-top: 114px;
  }

  .intro__wrapper {
    width: 940px;
  }
}
