
.main-nav__list {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 940px;
    display: flex;
    justify-content: space-between;
  }
}


.main-nav__item {
  list-style: none;
  box-shadow:
    0 1px 0 $basic_black,
    inset 0 1px 0 $shadow_white;

  background-color: $dark_grey;
  text-align: center;
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }
}

.main-nav__item:first-child {
  // padding-top: 25px;
  // padding-bottom: 25px;
  // background-color: $dark_grey;

  display: flex;
  justify-content: space-between;

  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

@media (min-width: $desktop-width) {
  .main-nav__item:first-child {
    display: block;
    margin-right: 173px;
    padding-top: 20px;
  }
}

.main-nav__link {
  display: block;

  text-decoration: none;
  text-transform: uppercase;
  color: $basic_white;
  font-size: 18px;
  line-height: 32px;
  font-weight: $bold;

  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: $desktop-width) {
  .main-nav__link {
    font-size: 18px;
    line-height: 18px;
    font-weight: $regular;
    text-transform: none;
  }
}

.main-nav {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
}
