
.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav__item {
  list-style: none;
  box-shadow:
    0 1px 0 $basic_black,
    inset 0 1px 0 $shadow_white;

  background-color: $dark_grey;
  text-align: center;
}

.main-nav__item:first-child {
  // padding-top: 25px;
  // padding-bottom: 25px;

  display: flex;
  justify-content: space-between;

  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.main-nav__link {
  display: block;

  text-decoration: none;
  text-transform: uppercase;
  color: $basic_white;
  font-size: 18px;
  line-height: 32px;
  font-weight: $bold;

  padding-top: 25px;
  padding-bottom: 25px;
}

.main-nav {
  // outline: 5px solid rgba(0, 255, 0, 0.8);
  // outline-offset: -5px;

  // display: grid;
  // grid-template-columns: 1fr 1fr;
}
