.options {
  padding-top: 90px;
  padding-bottom: 25px;
  background-image: url("../img/decoration/grey-background.svg");
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-position: 50% -35px;
}

.options__wrapper {
  width: 100%;
  overflow: hidden;
}

.options__table {
  border-collapse: collapse;
  width: 100%;
  max-width: 940px;
}

.options__item {
  height: 94px;
  background-color: $dark_grey;
  border-left: 2px solid $light_grey;
  border-right: 2px solid $light_grey;
}

.options__item-definition {
  margin: 0;
}

.options__item-name {
  font-size: 16px;
  line-height: 30px;
  font-weight: $bold;
  color: $basic_white;
  text-transform: uppercase;
}

.options__item-number {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: $light;
  color: $basic_white;
}

.options__feature {
  line-height: 30px;

  background-color: $basic_white;
  border: 2px solid $border_grey;
  text-align: center;
  height: 59px;
}

.options__bestseller {
  position: relative;
  background-image: url("../img/decoration/bestseller-background.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.options__bestseller::before {
  position: absolute;
  content: "ХИТ";
  color: $basic_white;
  top: 20px;
  left: 15px;
  line-height: 15px;

  background-color: $accent_red;
  transform: rotate(-45deg);
  font-weight: $regular;
  overflow: hidden;
}

@media (max-width: $tablet-width) {
  .options__feature {
    min-width: 280px;
  }
}

@media (min-width: $tablet-width) {
  .options {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 70px;
  }

  .options__feature {
    min-width: 152px;
  }

  .options__item {
    height: 75px;
  }

  .options__bestseller {
    background-size: 51px 51px;
  }

  .options__bestseller::before {
    top: 12px;
    left: 6px;
  }

  .options__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .options__toggles {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .options__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .options__feature-name {
    display: none;
  }

  .options__feature {
    position: relative;
  }

  .options__feature::before {
    text-transform: uppercase;
    position: absolute;
    left: 20px;
  }

  .options__bestseller {
    background-size: 51px 51px;
  }

  .options__bestseller::before {
    top: 12px;
    left: 6px;
  }

  .options__status {
    padding-left: 210px;
  }

  .options__value--first-row .options__feature::before {
    content: "Розовый фильтр";
  }

  .options__value--second-row .options__feature::before {
    content: "Смайлики";
  }

  .options__value--third-row .options__feature::before {
    content: "Комментарии";
  }
}

@media (min-width: $desktop-width) {
  .options__wrapper {
    width: 940px;
  }

  .options__item-name {
    font-size: 18px;
  }

  .options__item-number {
    font-size: 24px;
  }

  .options__feature-name {
    font-size: 18px;
  }

  .options__bestseller {
    background-size: 74px 74px;
  }

  .options__bestseller::before {
    top: 20px;
    left: 15px;
  }
}
