.options {
  background-color: $light_grey;
  padding-top: 43px;
}

.options__table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  max-width: 940px;
}

.options__item-definition {
  margin: 0;
  background-color: $dark_grey;
}

.options__item-name {
  font-size: 16px;
  line-height: 30px;
  font-weight: $bold;
  color: $basic_white;
}

.options__item-number {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: $light;
  color: $basic_white;
}

.options__feature {
  line-height: 30px;

  background-color: $basic_white;
  border: 2px solid $border_grey;
  text-align: center;
  min-width: 280px;
}

@media (min-width: $tablet-width) {
  .options {
    padding-left: 20px;
    padding-right: 20px;
  }

  .options__toggles {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .options__feature-name {
    display: none;
  }

  .options__feature::before {
    text-transform: uppercase;
  }

  .options__value--first-row .options__feature::before {
    content: "Розовый фильтр";
  }

  .options__value--second-row .options__feature::before {
    content: "Смайлики";
  }

  .options__value--third-row .options__feature::before {
    content: "Комментарии";
  }
}

@media (min-width: $desktop-width) {
  .options {
    padding-left: 130px;
    padding-right: 130px;
  }

  .options__item-name {
    font-size: 18px;
  }

  .options__item-number {
    font-size: 24px;
  }

  .options__feature-name {
    font-size: 18px;
  }
}
