.page-header {
  background-image: url("../img/decoration/back-mobile.png");
  background-color: $opacity_black;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header--index {
  background-position: center bottom;
  min-height: 733px;
}

.page-header--inner {
  background-position: center top 0;
  min-height: 237px;
}
