.page-header {
  background-image: url("../img/decoration/back-mobile.png");
  background-color: $opacity_black;
  background-repeat: no-repeat;
  background-position: center bottom 30px;
  background-size: cover;
}

.page-header--form {
  background-position: center top 0;
}

.page-header__box {
  background-color: $opacity_black;
  padding-top: 21px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.page-header__toggle {
  background: none;
  border: none;
}
