.page-footer {
  text-align: center;
  padding: 40px 0;
}

.page__footer-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page__footer-wrapper {
    justify-content: space-between;
  }
}
