.page-header {
  background-image: url("../img/decoration/back-mobile.png");
  background-color: $opacity_black;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header--index {
  background-position: center bottom;
}

.page-header--inner {
  background-position: center top 0;
}

.page-header__box {
  background-color: $opacity_black;
}

.page-header__toggle {
  background: none;
  border: none;

  text-align: right;
}

@media (min-width: $desktop-width) {
  .page-header__toggle {
    display: none;
  }
}
