.page {
  height: 100%;
}


.page__body {
  min-height: 100%;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: $basic_font-size;
  line-height: $basic_line-height;
  font-weight: $regular;
  color: $dark_grey;
  font-style: normal;

  margin: 0;
  padding: 0;

  margin-left: auto;
  margin-right: auto;
}

.page__text {
  line-height: 30px;
  text-align: center;
}

.page__text--catalog-top {
  margin-top: 55px;
  margin-bottom: 55px;
}

.page__text--catalog-bottom {
  margin-top: 49px;
  margin-bottom: 52px;
}
